bin/*
.bundle
.DS_Store
.rbenv-version
.ruby-version
.rvmrc
.yardoc
challah-*.gem
coverage/
doc/
log/*.log
tmp/
vendor/bundle
tmp/
vendor/bundle
*.gem
test/dummy/db/schema.rb
test/dummy/db/*.sqlite3
test/dummy/db/migrate/*.challah_engine.rb
test/dummy/log
test/dummy/public/system


spec/dummy/db/schema.rb
spec/dummy/db/*.sqlite3
spec/dummy/db/migrate/*.challah_engine.rb
spec/dummy/log
spec/dummy/public/system
